.music-card {
  flex: 1 1 auto;
  width: 200px;
  height: 250px;
  background-color: #272727;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Noto Sans";
 }
  
 .music-card-artwork {
  width: 140px;
  height: 140px;
 }
  
 .mc-name {
  margin-top: 12px;
  font-size: 12pt;
  color: white
 }
  
 .mc-name:hover {
  text-decoration: underline;
 }
  
 .mc-owner {
  margin-top: 5px;
  font-size: 10pt;
  color: gray;
 }
  
 .play-icon {
  color: white;
  position: absolute;
  display: none;
  bottom: 17px;
  right: 17px;
  background-color: #1FD75F;
  padding: 6px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
 }
  
 .music-card:hover .play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 25px 4px rgb(48, 48, 48);
 }
 