.static {
  display: flex;
}

.header-wrapper {
  width: 100%;
  color: #b3b3b3;
}

.header {
  background-color: #131313;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header-right {
  background-color: #242424;
}

.username-btn {
  padding: 4px 8px 4px 4px;
  width: 85px;
  border-radius: 15px;
  text-align: center;
}

.player {
  height: 90px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
}