.sidebar {
  min-width: 230px;
  background-color: black;
  height: 100vh;
  color: #b3b3b3;
}

.sidebar-title {
  color: white;
  font-size: 37px;
  padding: 24px 0 18px 24px;
}

.sidebar-title-link {
  display: flex;
}

.sidebar-title-link > .fa-spotify {
  margin-right: 4px;
}

.sidebar-title .sidebar-dotify {
  font-size: 24px;
  font-weight: bolder;
}

.static-links > * {
  padding: 0 8px;
  height: 40px;
}

.side-home-button, .side-search-button, .side-library-button {
  padding: 0 16px;
  width: 182px;
  height: 40px;
  background-color: brown;
  border-radius: 5px;
  display: flex;
}

.playlist {
  padding: 5px 24px;
}